<!DOCTYPE html>
<html>
<head>
  <title>Treebook</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
 <h1> Pages</h1>
 <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
   <div class="navbar-header">
     <%= link_to "Railstree", root_path, :class => "navbar-brand" %>

     <ul class="nav navbar-nav">
       <li class="active"><a href="#">All Statuses</a></li>
       <li><%= link_to "New", new_status_path %></a></li>
         </ul>
   </div>
 </nav>
 <div class="container">
 <%= yield %>
   </div>
 <em>Footer</em>
</body>
</html>
